{% extends 'base.html' %}
{% block title %}Daftar Dompet{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Daftar Dompet</h1>
        <a href="{% url 'wallet_create' %}" class="btn btn-primary">Tambah Dompet Baru</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nama</th>
                <th>Tipe</th>
                <th class="text-end">Saldo</th>
                <th class="text-center">Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for wallet in wallets %}
            <tr>
                <td>{{ wallet.name }}</td>
                <td>{{ wallet.get_wallet_type_display }}</td>
                <td class="text-end">Rp {{ wallet.balance|floatformat:0 }}</td>
                <td class="text-center">
                    <a href="{% url 'wallet_update' wallet.pk %}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <a href="{% url 'wallet_delete' wallet.pk %}" class="btn btn-sm btn-outline-danger">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}